/* #Primary
================================================== */
:root {
  --transparent: #00000000;
  --black1: #14151a;
  --white1: #fff;
  --purple1: #7446b9;
  --purple2: #ac9cdb;
  --purpleGradient1: linear-gradient(-10deg, #4474ce 0%, #a458d6 100%);
  --redGradient1: linear-gradient(-10deg, #52355b 0%, #a85757 100%);
  --yellow1: #fff176;
  --green1: #6bd485;
  --blue1: #6cc8ec;
  --red1: #ff7474;
  --red2: #a85757;
  --fadeGrey: #a1a1a147;
  --lightGrey1: #ededed;
  --glass1: #ffffff40;
  --glass2: #29292936;
  --stripeTableColor1: #0000000f;
  --stripeTableColor2: #ffffff1a;
  --shadow1: #5959594f;
  --shadow2: #81818121;

  --lightGradient1: linear-gradient(
    to top,
    #dad4ec 0%,
    #b1abc1 1%,
    #9da1f29e 100%
  );

  --darkGradient1: linear-gradient(-10deg, #3e3d40 0%, #18161d 100%);

  /* theming */
  --activeShadowColor: var(--shadow1);
  --activeTextColor: var(--black1);
  --activeBgColor: var(--white1);
  --activeStripeTableColor: var(--stripeTableColor1);
  --activeGlassColor: var(--glass1);
  --activeGradientColor: var(--lightGradient1);
  --activeAccentColor: var(--purple2);
  --activeAccentGradient: var(--purpleGradient1);
  --activeFont: "Apple1";
  --activeBorderRadius: var(--borderRadius1);

  --transitionDuration: 0.2s;
  --borderRadius1: 30px;
}

/* General Styles
================================================== */
@font-face {
  font-family: "Samsung1";
  src: url("../fonts/SamsungOneLatinWeb-400.woff2") format("woff2");
}

@font-face {
  font-family: "Apple1";
  src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
}

body {
  color: var(--activeTextColor);

  background: var(--activeGradientColor);
  background-repeat: no-repeat;
  background-attachment: fixed;

  transition: all var(--transitionDuration) linear;
  font-family: var(--activeFont), "Montserrat", sans-serif;
  font-style: normal;
  transition: all var(--transitionDuration) linear;
}

html,
body,
#root,
.dashboard {
  height: 100%;
}

main {
  padding: 1em 0;
}

h1,
h2,
h3 {
  font-weight: 800;
}
p strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.card-header {
  font-size: 20px;
  padding: 15px;
}

.border-start {
  border-color: var(--activeStripeTableColor) !important;
}

input,
textarea,
select {
  color: var(--activeTextColor);
  border: 0 !important;
  border-radius: 0px !important;
  border-bottom: 1.5px solid var(--activeTextColor) !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
  border-bottom-color: var(--purple1) !important;
}

/* Autofill styles with pseudo-element */
input.autofill::after,
input.autofill:hover::after,
input.autofill:focus::after,
input.autofill:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--transparent) !important;
  pointer-events: none;
  z-index: -1;
}

.form-control,
.form-control:focus {
  color: var(--activeTextColor) !important;
  background: var(--transparent) !important;
}

.form-select {
  color: var(--activeTextColor) !important;
  background-color: var(--transparent) !important;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background: var(--transparent) !important;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: var(--activeTextColor) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: var(--activeTextColor);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 10000s ease-in-out 0s;
}

.opacityMin {
  opacity: 0;
}

.opacityMax {
  opacity: 1;
}

.glassEffect {
  background: var(--activeGlassColor) !important;
  box-shadow: 0px 10px 30px var(--activeShadowColor) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid var(--fadeGrey);
}

.glassEffect:hover {
  border: 1px solid var(--activeAccentColor);
}

.glassEffect > .d-card-header {
  box-shadow: 0 5px 5px var(--activeShadowColor) !important;
  font-family: "Samsung1";
}

.fw-bold {
  font-family: "Samsung1";
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.btn {
  min-width: 100px;
  box-shadow: 0px 5px 30px var(--activeShadowColor) !important;
  border-radius: var(--activeBorderRadius);
}

.btn.btn-primary {
  background: var(--activeAccentGradient) !important;
  color: #fff !important;
  border: 0px;
}

.btn-success {
  background: var(--green1) !important;
  color: black !important;
  border: 1px solid var(--green1) !important;
}

.btn-danger {
  background: var(--red1) !important;
  color: black !important;
  border: 1px solid var(--red1) !important;
}

.btn-warning {
  background: var(--yellow1) !important;
  color: black !important;
  border: 1px solid var(--yellow1) !important;
}

.btn-info {
  background: var(--blue1) !important;
  color: black !important;
  border: 1px solid var(--blue1) !important;
}

.btn {
  transition: all var(--transitionDuration) linear;
}
.btn:hover {
  filter: brightness(1.25);
}

.invertColor {
  filter: invert(1);
}

/* Error Message Styles
================================================== */
.error-message::before {
  content: "Error";
  display: block;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
.error-message {
  margin-top: 10%;
  text-align: center;
}

/* Loader Styles
================================================== */
.loader::before {
  content: "";
  border: 8px solid #ededed;
  border-radius: 50%;
  border-top: 8px solid #7446b9;
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 15%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loader {
  text-align: center;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar Styles
================================================== */
nav .navbar-collapse {
  flex-grow: initial;
}

.navbar-nav .nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-collapse .nav-item .nav-link,
.navbar-brand {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: var(--activeTextColor) !important;
}

.nav-item .nav-link.active {
  border-radius: var(--activeBorderRadius);
  background: var(--activeAccentGradient);
  color: var(--white1) !important;
  @media (min-width: 992px) {
    .nav-link.btn.btn-link {
      margin-left: 1.5em;
    }
  }
}

/* Navbar Logo */
.navbar-brand img {
  width: 50px; /* Adjust the width for smaller logo */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Make the logo clickable */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth hover effect */
}

.navbar-brand img:hover {
  transform: scale(1.1); /* Slightly enlarge the logo on hover */
  opacity: 0.8; /* Add a subtle dimming effect on hover */
}

/* ActionBar Styles
================================================== */
.action-bar {
  background-color: var(--purple1);
  padding: 1em;
  border-bottom: 1px solid #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.action-bar-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.action-bar-list li {
  display: block;
}
.action-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.action-link:hover,
.action-link:active,
.action-link:focus {
  color: #fff;
  text-decoration: underline;
}
.action-link svg {
  width: 35px;
  height: 35px;
}
.action-link span {
  display: none;
}
@media (min-width: 768px) {
  .action-bar {
    border-bottom: none;
    position: initial;
  }
  .action-bar-list {
    flex-direction: column;
    margin-top: 2em;
  }
  .action-bar-list li {
    margin-bottom: 4em;
  }
  .action-link span {
    display: block;
    margin-top: 0.75em;
    font-size: 0.8em;
  }
}

/* Footer Styles
================================================== */
footer {
  background-color: var(--purple1);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 0.8em;
}
.footer-links {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.6em;
}
.footer-links li a {
  text-decoration: underline;
  font-weight: normal;
}
.footer-links li a:hover,
.footer-links li a:focus,
.footer-links li a:active {
  text-decoration: none;
}
@media (min-width: 768px) {
  footer {
    padding: 2em 0;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer p {
    margin-bottom: 0;
  }
  .footer-links {
    display: flex;
  }
  .footer-links li {
    margin-left: 1em;
  }
}

/* Home Page Styles
================================================== */
main.home-page {
  background-color: #fff;
  color: #000;
}
/* Header */
.text-img-flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 4em 0;
}
.img-flex {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 2em;
}
.text-img-flex .btn {
  display: block;
}
@media (min-width: 768px) {
  .text-img-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .text-wrapper {
    width: 60%;
    margin-right: 1em;
  }
  .text-img-flex .btn {
    display: inline-block;
  }
  .img-flex {
    margin: 0;
  }
}

/* Features Section */
.card-section {
  padding: 2em 0;
}
.card-section h2 {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
}
.purple-card {
  background-color: var(--purple2);
  border-radius: 15px;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
  max-width: 350px;
  min-height: 400px;
}
.purple-card .card-icon {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  display: block;
  margin: 2.5em auto;
}
@media (min-width: 768px) {
  .card-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .purple-card {
    width: 30%;
  }
}

/* Tile Section */
.tile-section {
  padding: 3em;
}
.tile-text p {
  margin: 1.5em 0;
}
@media (min-width: 992px) {
  .tile-section {
    padding: 3em 0;
  }
  .tile-wrapper {
    display: flex;
    margin-bottom: 2em;
  }
  .tile-wrapper:nth-child(2) {
    flex-direction: row-reverse;
  }
  .tile-img img {
    width: 450px;
    padding: 40px;
    padding-bottom: 100px;
  }
}

/* User Dashboard Styles
================================================== */
.dashboard {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}
.dashboard h1 {
  padding: 0.5em 1em;
  margin: 0;
}
.d-column {
  padding: 1em;
}

.main-content {
  width: 100%;
}
/* Card Styles */
.d-card {
  color: var(--activeTextColor);
  border-radius: var(--borderRadius1);
  margin-bottom: 1em;
}

.d-card-header {
  padding: 1em 1em;
  border-bottom: 1px solid var(--activeAccentColor);
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.d-card-header h2 {
  font-size: 1.8em;
  margin-bottom: 0;
}
.d-card-body {
  padding: 1em;
}
.card-header-link {
  text-decoration: underline;
}
.card-header-link:hover,
.card-header-link:active,
.card-header-link:focus {
  text-decoration: none;
}

/* User Info Styles */
.desc-list div {
  display: flex;
  margin-bottom: 1em;
}
.desc-list div dt {
  padding-right: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

/* Newsfeed Styles */
.news-list {
  padding: 0;
  list-style-type: none;
}
.news-list li {
  border-bottom: 1px solid var(--purple1);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.news-text {
  width: 70%;
}
.news-text + p {
  width: 30%;
  text-align: right;
}
.news-list-header {
  font-weight: 800;
  margin-bottom: 0.5em;
}
.news-list-header + p {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Chat Styles */
.chat-list {
  padding: 0;
  list-style-type: none;
}
.chat-list li {
  padding: 0.8em;
  cursor: pointer;
  transition: all var(--transitionDuration) linear;
  border-image: linear-gradient(-10deg, #00000000 0%, #00000000 100%);
  border-width: 8px;
  border-image-slice: 1 0 1 500;
  border-style: solid;
}

.chat-list li:hover {
  background-color: var(--shadow1);
}

.chat-list li.active {
  background-color: var(--fadeGrey);
  /* border-left: 8px solid var(--activeAccentColor); */
  border-image-source: var(--activeAccentGradient);
  border-width: 8px;
  border-image-slice: 1 0 1 500;
  border-style: solid;
}

.chat-list-header {
  font-weight: 800;
  margin-bottom: 4px;
}
.chat-list-header + p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-weight: 300;
}

.dashboard .d-table {
  border-collapse: collapse;
  width: 100%;
}
.dashboard .d-table th {
  border-bottom: 1px solid var(--purple1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.dashboard .d-table th,
.dashboard .d-table td {
  text-align: left;
  padding: 4px;
}
.dashboard .d-table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.2);
}

@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .dashboard-table {
    display: flex;
  }
  .dashboard-table .d-column:first-child {
    width: 60%;
  }
  .dashboard-table .d-column:nth-child(2) {
    width: 40%;
  }
}

.transition-1 {
  transition: all var(--transitionDuration) linear;
}

/* Toggle Light and Dark Mode */

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#switch {
  width: 40px;
  height: 4px;
  background: #8167a9 !important;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: 1.5rem;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 0.2s linear;
}

#circle {
  position: absolute;
  top: -7px;
  left: -13px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--black1);
}

.switched #circle {
  left: 30px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.chat-container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}
.chat-container .channels {
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 15px;
}
.channels h3 {
  font-size: 1.3em;
}
.channels ul {
  list-style-type: none;
  margin: 0;
}
.channels ul li {
  text-decoration: underline;
  cursor: pointer;
  height: 30px;
}
.channels ul li:hover,
.channels ul li:focus,
.channels ul li:active {
  text-decoration: none;
}

/* .chat-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
} */

/* .messages {
  flex: 1;
  margin-bottom: 20px;
  overflow-y: auto;
  height: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
}

.message {
  margin-bottom: 10px;
} */

.messages h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--purple1);
  margin-bottom: 2em;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 2em;
}

.current-user {
  align-self: flex-end;
  background-color: var(--purple1); /* Purple for current user's messages */
  color: var(--white1);
}

.other-user {
  align-self: flex-start;
  background-color: var(--purple2); /* Light red for other users' messages */
  color: #3f1c73;
}

.message-input {
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 8px 0 0 8px !important;
}

.message-input button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: var(--purple1);
  color: white;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

/* General Newsfeed Styles */
.newsfeed {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.newsfeed-content {
  width: 60%;
  max-width: 800px;
}

.newsfeed-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

/* News Card */
.news-card {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* News Header */
.news-header {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid var(--purple1);
}

.user-avatar {
  background-color: #6a1b9a;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.news-header h3 {
  margin: 0;
  font-size: 16px;
  color: var(--bs-heading-color);
}

.news-meta {
  font-size: 12px;
  color: var(--activeTextColor);
  margin-bottom: 0;
}

/* News Body */
.news-body {
  padding: 2em 1em;
  padding-left: 2em;
}

.news-body h4 {
  font-size: 16px;
  color: var(--bs-heading-color);
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
}

.news-body p {
  font-size: 14px;
  color: var(--activeTextColor);
  line-height: 1.5;
  margin-bottom: 4px;
}

/* News Footer */
.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 1em 1em;
}

.news-date {
  font-size: 14px;
  color: var(--activeTextColor);
}

.add-comment-section {
  margin-top: 2em;
}
.add-comment-section input {
  width: calc(100% - 70px);
  height: 40px;
  border: 1px solid var(--purple1) !important;
  border-radius: 5px !important;
  margin-right: 12px;
  padding-left: 8px;
  background-color: var(--activeGlassColor);
}
.add-comment-section input:focus,
.add-comment-section input:focus-visible {
  outline: none;
  border-left: 8px solid var(--purple1) !important;
  border-color: var(--purple1) !important;
}

.btn-view-comments {
  background-color: #6a1b9a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-view-comments:hover {
  background-color: #4a148c;
}

.comments-section {
  margin-top: 15px;
  padding: 10px;
  border-top: 1px solid var(--activeAccentColor);
}

.comments-section h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.comments-list {
  padding: 0;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 2px;
  padding-left: 32px;
  border-bottom: 1px dotted var(--lightGrey1);
}

.comment p {
  margin: 0;
  color: var(--activeTextColor);
}

.comment p strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.comment .btn-remove {
  margin-left: 8px;
}

.add-comment {
  display: flex;
  gap: 10px;
}

.add-comment input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-add,
.btn-remove {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.btn-add:hover,
.btn-remove:hover {
  background-color: #4a148c;
}

/* Button to toggle the Add Post form */
.btn-new-post {
  background-color: var(--purple1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.btn-new-post:hover {
  background-color: #4a148c;
}

/* Add Post Form */
.add-post-form {
  background-color: var(--white1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow1);
}

.add-post-form h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.add-post-form input,
.add-post-form textarea,
.add-post-form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--fadeGrey);
  border-radius: 5px;
  font-size: 14px;
}

.add-post-form textarea {
  resize: vertical;
  height: 100px;
}

.btn-add {
  background-color: var(--green1);
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.btn-add:hover {
  background-color: #4caf50;
}
/* Transition of components */

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.transition-fade-in-out {
  &.fade-in {
    animation: fadeIn 1s forwards;
  }

  &.fade-out {
    animation: fadeOut 1s forwards;
  }
}

/* Not Found Styles
================================================== */
.not-found {
  margin-top: 15%;
}
.not-found h1 {
  text-align: center;
}
.not-found p {
  text-align: center;
}

.not-found .btn {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: 0 auto;
}
